@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  max-width: 940px;
  width: 80%;
  height: 100%;
}

.home {
  display: flex;
}

.home .logo {
  padding: 36px 20px 30px 0;
}

.links {
  padding-top: 4px;
  padding-left: 120px;
  padding-top: 40px;
}

.links a {
  text-decoration: none;
  padding-left: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
}

.links a:hover {
  font-weight: bold;
}

.details {
  background: #fbdfdb;
  border-radius: 30px;
  width: 940px;

  display: flex;
  justify-content: space-between;
}

.details .text {
  width: 316px;
  display: grid;
  align-content: center;
  padding-left: 60px;
}

.details .main-title {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #111111;
  padding-bottom: 10px;
}

.details .text .description-title {
  opacity: 0.7;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  line-height: 28px;
}

.details .chef {
  padding: 66px 100px 0px 248px;
  align-items: left;
}

.most-viewed p {
  font-size: 24px;
  line-height: 34px;
  color: #111111;
  font-weight: bold;

  padding-top: 50px;
  padding-bottom: 20px;
}

.cards .card .card-description p {
  font-size: 18px;
  line-height: 21px;

  font-weight: 300;
  padding: 20px 0 0 0;

  color: #111111;
}

.cards .card .card-author p {
  padding: 0;
  font-size: 14px;
  color: #777777;
  font-weight: 200;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards .card .card-image img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  cursor: pointer;
}

.cards .card .no-pointer img {
  cursor: default;
}

footer {
  background-color: #eeeeee;
  width: auto;
  height: 62px;
  margin-top: 50px;
}

footer p {
  font-size: 14px;
  color: #999999;
  text-align: center;
  padding-top: 23px;
}

/* ======== Pagina do detalhes da receitas ======== */
.recipe_image {
  width: 940px;
  height: 280px;
  padding-bottom: 20px;
}
.recipe-image img {
  border-radius: 15px;
}
.recipe-title {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  color: var(--color-black);
}
.recipe-author {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-grey);
}
.recipe-procedure h2 {
  font-size: 24px;
  line-height: 28px;
  color: var(--color-black);
  margin: 20px 0 20px;
}
.recipe-procedure li {
  margin-left: 15px;
  font-size: 18px;
  line-height: 28px;
  color: #777777;
}
.recipe-procedure p {
  font-size: 18px;
  line-height: 28px;
  color: #777777;
  text-align: justify;
}

/*===SHOWHIDE===*/
.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}
.showhide_btn {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  text-align: justify;
  margin: 23px 0;
  cursor: pointer;
}
.recipe_showhide {
  display: block;
}
.recipe_showhide.active {
  display: none;
}
