<!DOCTYPE html>
<html lang="pt-br">
    <head>

        {% block head %}

            <meta charset="UTF-8">
            <title>{{ titulo }}</title>

        {% endblock %}
        <link rel="shortcut icon" href="/favicon/icons8-paelha-64.png" type="image/x-icon">

        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="content">
            <header>
                <div class="home">
                    <div class="logo">
                        <a href="/"><img src="/assets/logo.png" alt="Logo Foodfy"></a>
                    </div>
                    <div class="links">
                        <a href="/sobre">Sobre</a>
                        <a href="/receita">Receitas</a>
                    </div>
                </div>

            </header>

            {% block content %}{% endblock %}

        </div>
    </body>
</html>