{% extends "layout.njk" %}

{% block head %}

    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="/error.css">

{% endblock %}

{% block content %}

    <div class="page-error">
        <h1>404</h1>
        <p>Página não encontra!.</p>
    </div>

{% endblock %}