{% extends "layout.njk" %}

{%block head %}

    <title>Foodfy - Receitas Detalhadas</title>

{% endblock %}

{% block content %}

    <section class="container">
        <div class="img">
            <img src="{{item.image}}">
        </div>
    </section>

{% endblock %}