{% extends "layout.njk"%}

<head>

    {% block head %}

        <title>{{about.title}}</title>
        <link rel="stylesheet" href="/css/sobre.css">

    {% endblock %}

</head>

{%block content %}

    <h1>{{about.name}}</h1>
    <p>{{about.description_1}}</p>
    <p>{{about.description_2}}</p>

    <h2>{{about.name}}</h2>
    <p>{{about.description_1}}</p>
    <p>{{about.description_2}}</p>

    <h2>{{about.name}}</h2>
    <p>{{about.description_1}}</p>

    <footer>
        <p>{{about.footer}}</p>
    </footer>

{% endblock %}